/*Setting the color of post input placeholder*/
.postInput::-webkit-input-placeholder {
    color: #a3abb7 !important;
}

.my_card {
    background-color: #547e8e !important;
    margin-top: 30px !important;
}

.my_username_header {
    display: inline !important;
    font-size: medium !important;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

.my_modal {
    background-color: #547e8e;
}

.my_card_modal {
    margin-top:25px !important;
    border: none !important;
    border-bottom:initial !important;
    border-radius: initial !important;
    background-color: #547e8e !important;
    width:auto !important;
}

.my_modal_avatar_image{
    width:50px !important;
    height:50px !important;
}

.my_username_header_modal {
    display: inline !important;
    font-size: x-large !important;
}

.my_post_image{
    height: 170px !important;
}

.my_posts_container{
    width: 85% !important;
    padding-left: 9px !important;
    margin-right: 20px !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
}

.my_sendComment_btn:hover {
    color: #434547 !important;
}

a.my_author:hover {
    color: #434547 !important;
}

.my_like_btn {
    color: #000000 !important;
}

.my_dislike_btn {
    color: #ff000c !important;
}

.iP {
    width: 35px !important;
    height: 24px !important;
}

#like_icon {
    color: #ff2733;
}

.my_extra_content {
    height: 290px;
    overflow: scroll;
    overflow-x: hidden;
}
