@model TravelTogether.ViewModels.Account.RegisterInputModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{

}

<div class="owl">
    <div class="hand"></div>
    <div class="hand hand-r"></div>
    <div class="arms">
        <div class="arm"></div>
        <div class="arm arm-r"></div>
    </div>
</div>
<form method="post" action="/Account/Register">
    <div class="register-form">
        <div class="control">
            <label for="username"></label>
            <input id="username" placeholder="Username" name="Username" type="text" />           
        </div>
        <div class="control">
            <label for="password"></label>
            <input id="password" placeholder="Password" name="Password" type="password" />
        </div>
        <div class="control">
            <label for="confirmPassword"></label>
            <input id="confirmPassword" placeholder="Confirm Password" name="ConfirmPassword" type="password" />
        </div>
        <div class="control">
            <label for="firstName"></label>
            <input id="firstName" placeholder="First Name" name="FirstName" type="text" />
        </div>
        <div class="control">
            <label for="lastName"></label>
            <input id="lastName" placeholder="Last Name" name="LastName" type="text" />
        </div>
        <div class="control">
            <label for="country"></label>
            <input id="country" placeholder="Country" name="Country" type="text" />
        </div>
        <div class="control">
            <label for="city"></label>
            <input id="city" placeholder="City" name="City" type="text" />
        </div>
        <div class="control">
            <span class="ui grey inverted header">Male : </span>@Html.RadioButtonFor(m => m.Gender, "Male", new { id="Gender1"})
            <span class="ui grey inverted header">Female : </span>@Html.RadioButtonFor(m => m.Gender, "Female", new { id = "Gender2" })
        </div>
        <div class="control">
            <button type="submit" class="ui secondary button">Register</button>
        </div>
    </div>  
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
}
